#main-header {
    text-align: center;
    font-size: 30px;
    background-color: red;
    color: wheat;
    /* height: 100px; */
    padding: 19px;
  }
  #main-footer {
    text-align: center;
    font-size: large;
    background-color: pink;
  }

  .post{
      background-color: green;
      width: 50%;
text-align: center;
      margin-left: 125px;
      align-items: center;
      padding: 123px;
  }

  .post h3{
      background:red;
      margin-left: 45%;
      padding: 14px;
      width: 200px;
      box-shadow: -1px -1px 20px 0px blue;
      border-radius: 20px;
  }



